<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />

  <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/theme/css/default.css">
  <link rel="stylesheet" href="/theme/css/layout.css">
  <link rel="stylesheet" href="/theme/css/media-queries.css">

  <!-- Favicons
	================================================== -->
	<link rel="apple-touch-icon" sizes="180x180" href="/theme/images/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/theme/images/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/theme/images/favicon_io/favicon-16x16.png">

  {% endblock head %}

</head>

<body id="index" class="home">
        

    {% block nav %}
    {% endblock %}
        
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}


   {% block custom_js %}
   {% endblock %}

</body>
</html>
