<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
    <!-- Preload Fonts
  ================================================== -->
  <link rel="preload" href="/theme/css/fonts.css" as="style">
  <link rel="preload" href="/theme/css/font-awesome/css/font-awesome.min.css" as="style">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/theme/css/default.css">
  <link rel="stylesheet" href="/theme/css/layout.css">
  <link rel="stylesheet" href="/theme/css/media-queries.css">

  <!-- Favicons
	================================================== -->
	<link rel="apple-touch-icon" sizes="180x180" href="/theme/images/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/theme/images/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/theme/images/favicon_io/favicon-16x16.png">

  {% if GOOGLE_ANALYTICS %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{GOOGLE_ANALYTICS}}');
  </script>
  {% endif %}

  {% endblock head %}

</head>

<body id="index" class="home">
        

    {% block nav %}
    {% endblock %}
        
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}


   {% block custom_js %}
   {% endblock %}

</body>
</html>
