<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />

  <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="theme/css/default.css">
  <link rel="stylesheet" href="theme/css/layout.css">
  <link rel="stylesheet" href="theme/css/media-queries.css">
  <!-- link rel="stylesheet" href="theme/css/magnific-popup.css" -->

  <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

  {% endblock head %}

</head>

<body id="index" class="home">
        

    {% block nav %}
    {% endblock %}
        
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}


   {% block custom_js %}
   {% endblock %}

</body>
</html>
