    <!-- footer
   ================================================== -->
   <footer>

    <div class="row">

       <div class="twelve columns">

         <div id='contact' class="row">
            <h1>
               <span>
              <br>
                  Get In Touch:
              <br>
               <a href=mailto:nickhamlin@gmail.com>nickhamlin at gmail dot com</a>
            </span>
         </h1>

        </div>

          <ul class="nick-social-links"> 
             <li><a href="mailto:nickhamlin@gmail.com"><i class="fa fa-envelope"></i></a></li>
             <li><a href="https://twitter.com/nicholashamlin"><i class="fa fa-twitter"></i></a></li>
             <li><a href="https://github.com/nickhamlin"><i class="fa fa-github"></i></a></li>
             <li><a href="http://www.linkedin.com/in/nickhamlin/ "><i class="fa fa-linkedin"></i></a></li>
             <!-- li><a href=""><i class="fa fa-skype"></i></a></li -->
          </ul>

          <ul class="copyright">
             <li>&copy; 2014-<span id='year'></span> Nick Hamlin</li>
             <li>Layout by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
          </ul>

       </div>

       <div id="nick-go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

    </div>

    <script>
      function updateYear() {
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("year").innerHTML = n;
      }
      updateYear();
      </script>

 </footer> <!-- Footer End-->
