 
{% block footer %}
   <!-- footer
   ================================================== -->
   <footer>

    <div class="row">

       <div class="twelve columns">

          <ul class="social-links">
             <li><a href="mailto:nickhamlin@gmail.com"><i class="fa fa-envelope"></i></a></li>
             <li><a href="https://twitter.com/nicholashamlin"><i class="fa fa-twitter"></i></a></li>
             <li><a href="https://github.com/nickhamlin"><i class="fa fa-github"></i></a></li>
             <li><a href="http://www.linkedin.com/in/nickhamlin/ "><i class="fa fa-linkedin"></i></a></li>
             <li><a href="skype:nickhamlin?chat"><i class="fa fa-skype"></i></a></li>
          </ul>

          <ul class="copyright">
             <li>&copy; Copyright 2014-2017 Nick Hamlin</li>
             <li>Layout by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
          </ul>

       </div>

       <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

    </div>

 </footer> <!-- Footer End-->
 {% endblock footer %}