{% extends "base.html" %}

{% block nav %}
{% include 'main-nav.html' %}
{% endblock %}

{% block content %}
   <!-- Header
   ================================================== -->
   <header id="home">

      <div class="row banner">
         <div class="banner-text">
           <img class="profile-pic"  src="theme/images/profilepic.jpg" alt="" />
            <h1>Hi, I'm Nick.</h1>
            <h3>I’m a data scientist working to help the global aid and philanthopy community use data to
              make the world a better place.
            </h3>
            <ul class="social">
               <li><a href="mailto:nickhamlin@gmail.com"><i class="fa fa-envelope"></i></a></li>
               <li><a href="https://twitter.com/nicholashamlin"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://github.com/nickhamlin"><i class="fa fa-github"></i></a></li>
               <li><a href="http://www.linkedin.com/in/nickhamlin/ "><i class="fa fa-linkedin"></i></a></li>
               <!-- li><a href=""><i class="fa fa-skype"></i></a></li -->
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">


         <div class="ten offset-1 columns main-col">

            <h2>About Me</h2>

            <p>I’m an experienced data wonk here to help social good organizations across the globe maximize their impact.  Nonprofits and social entrepreneurs do great work every day, but many don’t have the resources, tools, or experience to make sense of their data. That’s where I come in. Finding creative ways to make development data accessible, understandable, and actionable for everyone is what gets me out of bed in the morning</p>

            <p>I’ve got a knack for learning new tools to tackle new problems.  Naturally, this comes in handy when making strategic decisions about how best to support 3000+ NGOs in 160+ countries, combatting fraud on a website that processes millions worth of transactions per year, or hacking together new ways of extracting meaning out of the aid sector’s famously complex and messy data.</p>

            <p>When I’m not writing code, crunching numbers, or telling stories with data, I'm a proud folk music street performer, amateur haiku poet, and worm farmer.</p>

            <div class="row">

               <div class="columns download">
                  <p>
                     <a href="/nick_hamlin_resume.pdf" class="button"><i class="fa fa-download"></i>Download Full Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->




   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>What I've been up to lately:</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-thirds s-bgrid-thirds cf">

               {% for article in dates %}

               {% if article.homepage %}

               <div class="columns portfolio-item">
                  <div class="item-wrap ">
                     
                     <a href="./{{ article.url }}" title="">
                        
                        <img alt="" src="theme/images/portfolio_tile/{{ article.image }}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>{{ article.title }}</h5>
                              <!-- p>{{ article.summary }}</p -->
                        </div>
                     </div>
                        </a> 
                     
                  </div>
          		</div> <!-- item end -->
               {% endif %}
               {% endfor -%}

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->

      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">
               <div class="flexslider">
                  <ul class="slides">

                  {% for i in TESTIMONIALS %}
                  {% if not i.hide %}

                    <li>
                       <blockquote>
                          <p>{{ i.text }}</p>
                          <cite>{{ i.name }} <br> {{ i.title }}<br> {{ i.org }}</cite>
                       </blockquote>
                    </li>

                  {% endif %}
                  {% endfor -%}

                  </ul>
               </div> <!-- div.flexslider ends -->
            </div> <!-- div.flex-container ends -->
         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <!-- section id="contact">
      
   </section --> 


{% endblock content %}

{% block custom_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
<script type="text/javascript" src="theme/js/jquery-migrate-1.2.1.min.js"></script>

<!-- updated Jquery via google CDN for experimenting-->
<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script -->


<script src="theme/js/jquery.flexslider.js"></script>
<script src="theme/js/waypoints.js"></script>
<script src="theme/js/magnific-popup.js"></script>
<script src="theme/js/init.js"></script>

{% endblock %}


