<nav class="opaque" id="nav-wrap">

    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
        <li><a href="/#home">nickhamlin.com</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#portfolio">Projects</a></li>
        <li><a href="/#testimonials">Testimonials</a></li>
        <li><a href="/#contact">Contact</a></li>
        <!-- li><a class="" href="/archives">Blog</a></li -->
    </ul> 

 </nav> 