{% extends 'base.html' %}
{% block title %}all posts // {{ super() }}{% endblock title %}
{% block pagetitle %}all posts{% endblock pagetitle %}

{% block nav %}
{% include 'static-nav.html' %}
{% endblock %}

{% block content %}
<div>
  <section>
  <h1>{% block content_title %}Tags for {{ SITENAME }}{% endblock %}</h1>

  {% for tag, articles in categories|sort %}
    <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ articles|count }})</a></dd>
  {% endfor %}
  </section>
</div>
{% endblock %}